@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Georgian-1';
  src: url('./assets/fonts/bpg_glaho_sylfaen.ttf');
}

.font-geo {
  font-family: 'Georgian-1';
}
@media (max-width: 600px) {
  .smallText {
    font-size: 1.2rem;
  }
  .smallTextDec {
    font-size: 1rem;
  }
}


